@using TripTrotters.Models
@model Post
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
	<div class="card">
		<div class="container-fliud">
			<div class="wrapper row">
				<div class="preview col-md-6">

					<div class="preview-pic tab-content">
						
					</div>
					<ul class="preview-thumbnail nav nav-tabs">
						<li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="https://scontent.fcra2-1.fna.fbcdn.net/v/t31.18172-8/21753178_2093193357364826_5998893953853267850_o.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=sg7ylqc-93AAX98m3_e&_nc_ht=scontent.fcra2-1.fna&oh=00_AfAbVDfXa-8ABchD12nT40MMoCtyhkb84GmwDY4LDU-CVg&oe=645BAB1B" width="428" height="428" /></a></li>
					
					</ul>

				</div>
				<div class="details col-md-6">
					<h3 class="product-title">@Model.Title</h3>
					<h4 class="post-author">@Model.User</h4>
					<div class="rating">
						<div class="stars">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</div>
						<span class="review-no">@Model.Likes Likes</span>
					</div>
					<p class="product-description">@Model.Description</p>
					<h5 class="price">current price: <span>32476236784$</span></h5>
					<p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
					<div class="action">
						
						<button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

