@using TripTrotters.ViewModels;
@using TripTrotters.Services.Abstractions;
@model EditPostViewModel


<form method="post" asp-action="Edit" asp-route-Id="@Model.Id">
    <input type="hidden" id="UserId" name="UserId" asp-for="UserId"/>
    <input asp-for="Id" type="hidden" />
    <div class=" form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" id=" placeholder="Enter apartment name">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class=" form-group">
        <label asp-for="Budget">Price/Night:</label>
        <input asp-for="Budget" class="form-control" id=">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class=" form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control" id=" placeholder="Enter apartment description">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Images">Images</label>
        <input asp-for="Images" type="file" multiple class="form-control" placeholder="Image">
        <span asp-validation-for="Images" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-1" style="background-color: #2ec42e; border:none">Edit Post</button>
</form>








